<a href="https://colab.research.google.com/github/LuisMatusM/Hello-Wold/blob/main/Sesion_1_Estimados_de_Locaci%C3%B3n_y_Variabilidad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
edades = pd.Series([23, 34, 4, 45, 52, 59, 23, 48, 50, 49, 3, 4, 6, 8, 79, 6, 40, 17, 34, 4, 67, 97, 87, 65, 24, 4, 46])
evaluaciones = pd.Series([1, 4, 2, 2, 3, 5, 4, 4, 4, 5, 1, 2, 2, 3, 5, 2, 4, 3, 3, 1, 5, 5, 2, 4, 3, 3, 4, 4, 5, 1, 2])
codigos = pd.Series([400, 400, 200, 200, 201, 200, 201, 400, 201, 404, 400, 200, 200, 201, 200, 201, 201, 500, 400, 200])
temperaturas = pd.Series([22.45, 21.34, 20.23, 20.34, 25.54, 24.34, 18.23, 19.35, 18.24, 25.5, 24.33, 20.19, 21.45, 22.45])
encuesta = pd.Series([0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0])

In [6]:
edades.sum()

978

In [10]:
df = pd.read_csv('/content/drive/MyDrive/Datasets (1)/melbourne_housing-clean.csv', index_col=0)

In [17]:
df.head(10)

       suburb             address  ...            region_name property_count
0  Abbotsford        85 Turner St  ...  Northern Metropolitan         4019.0
1  Abbotsford     25 Bloomburg St  ...  Northern Metropolitan         4019.0
2  Abbotsford        5 Charles St  ...  Northern Metropolitan         4019.0
3  Abbotsford    40 Federation La  ...  Northern Metropolitan         4019.0
4  Abbotsford         55a Park St  ...  Northern Metropolitan         4019.0
5  Abbotsford      129 Charles St  ...  Northern Metropolitan         4019.0
6  Abbotsford        124 Yarra St  ...  Northern Metropolitan         4019.0
7  Abbotsford       98 Charles St  ...  Northern Metropolitan         4019.0
8  Abbotsford  6/241 Nicholson St  ...  Northern Metropolitan         4019.0
9  Abbotsford       10 Valiant St  ...  Northern Metropolitan         4019.0

[10 rows x 19 columns]

Promedio y mediana

In [11]:
df.mean()

rooms             2.885025e+00
price             1.068142e+06
distance          9.583059e+00
postcode          3.102081e+03
bedroom_2         2.859437e+00
bathroom          1.514855e+00
car               1.564743e+00
land_size         5.544581e+02
latitude         -3.780957e+01
longitude         1.449925e+02
property_count    7.455297e+03
dtype: float64

In [12]:
df.median()

rooms                  3.0000
price             895500.0000
distance               9.1000
postcode            3083.0000
bedroom_2              3.0000
bathroom               1.0000
car                    1.0000
land_size            412.0000
latitude             -37.8032
longitude            144.9980
property_count      6567.0000
dtype: float64

In [13]:
df['price'].mean()

1068141.895071269

In [15]:
df['price'].median()

895500.0

Reto 1

In [18]:
df_meteoritos = pd.read_csv('/content/drive/MyDrive/Datasets (1)/near_earth_objects-jan_feb_1995-clean.csv', index_col=0)

In [19]:
df_meteoritos.head()

        id  ... relative_velocity.kilometers_per_hour
0  2154652  ...                          58114.308667
1  3153509  ...                          44463.757734
2  3516633  ...                          22393.567277
3  3837644  ...                          80923.015021
4  3843493  ...                          17995.288355

[5 rows x 10 columns]

In [28]:
promedio_diametro = df_meteoritos['estimated_diameter.meters.estimated_diameter_max'].mean()

In [27]:
mediana_diametro = df_meteoritos['estimated_diameter.meters.estimated_diameter_max'].median()

In [30]:
def verificar_resultados(df_meteoritos, promedio_diametro, mediana_diametro):
    promedio = df_meteoritos['estimated_diameter.meters.estimated_diameter_max'].mean()
    if promedio_diametro != promedio:
        print(f'El promedio no fue calculado correctamente.')
        print(f'Promedio esperado: {promedio}; Promedio recibido: {promedio_diametro}')
        return
        

    mediana = df_meteoritos['estimated_diameter.meters.estimated_diameter_max'].median()
    if mediana_diametro != mediana:
        print(f'La mediana no fue calculada correctamente.')
        print(f'Mediana esperada: {mediana}; Mediana recibida: {mediana_diametro}')
        return
        
    print(f'Los estimados fueron calcualados correctamente.\n')
    print(f'El promedio calculado fue de {promedio_diametro} mientras que la mediana fue de {mediana_diametro}.')

In [29]:
verificar_resultados(df_meteoritos, promedio_diametro, mediana_diametro)
print(f'¬øA qu√© le atribuyes t√∫ la diferencia?')

Los estimados fueron calcualados correctamente.

El promedio calculado fue de 410.0860422397653 mientras que la mediana fue de 215.7943048444.
¬øA qu√© le atribuyes t√∫ la diferencia?

Media truncada

In [37]:
from scipy import stats #con esta importaci√≥n se puede usar el trim_mean
import pandas as pd

In [33]:
df.head()

       suburb           address  ...            region_name property_count
0  Abbotsford      85 Turner St  ...  Northern Metropolitan         4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan         4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan         4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan         4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan         4019.0

[5 rows x 19 columns]

In [39]:
stats.trim_mean(df['price'], 0.1) # primer argumento la serie o columna, segundo el % de datos truncados

973653.7960935823

In [35]:
df['price'].mean()

1068141.895071269

In [36]:
df['price'].median()

895500.0

Desviaci√≥n estandar

In [40]:
df['price'].std()

643728.1914372866

Reto 3

In [41]:
df_meteoritos['estimated_diameter.meters.estimated_diameter_max'].std()

614.691591855223

Estadisticos de orden
Rango, percentiles, rango intercuartilico

Rango

In [42]:
df['price'].max()-df['price'].min()

8915000.0

Percentil o quartile

In [43]:
df['price'].quantile(0.8)

1440000.0

In [44]:
df['price'].quantile(0.75)

1325000.0

In [50]:
print(f'valor m√≠nimo: {df["price"].min()}')
print(f'percentil 10: {df["price"].quantile(0.1)}')
print(f'percentil 25: {df["price"].quantile(0.25)}')
print(f'percentil 50: {df["price"].median()}')
print(f'percentil 75: {df["price"].quantile(0.75)}')
print(f'percentil 90: {df["price"].quantile(0.9)}')
print(f'valor m√°ximo: {df["price"].max()}')

valor m√≠nimo: 85000.0
percentil 10: 470000.0
percentil 25: 640000.0
percentil 50: 895500.0
percentil 75: 1325000.0
percentil 90: 1850000.0
valor m√°ximo: 9000000.0

Rango intercuartilico

In [51]:
df["price"].quantile(0.75) - df["price"].quantile(0.25)

685000.0

Reto 4

In [52]:
serie_1 = pd.Series([1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10])
serie_2 = pd.Series([1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10])
serie_3 = pd.Series([1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 9, 9, 9, 10, 10])
serie_4 = pd.Series([1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 9, 9, 9, 9, 10, 10, 10])

In [53]:
print(f'valor m√≠nimo: {serie_1.min()}')
print(f'percentil 10: {serie_1.quantile(0.1)}')
print(f'percentil 25: {serie_1.quantile(0.25)}')
print(f'percentil 50: {serie_1.median()}')
print(f'percentil 75: {serie_1.quantile(0.75)}')
print(f'percentil 90: {serie_1.quantile(0.9)}')
print(f'valor m√°ximo: {serie_1.max()}')

valor m√≠nimo: 1
percentil 10: 2.0
percentil 25: 3.75
percentil 50: 5.0
percentil 75: 7.25
percentil 90: 9.0
valor m√°ximo: 10

In [54]:
print(f'valor m√≠nimo: {serie_2.min()}')
print(f'percentil 10: {serie_2.quantile(0.1)}')
print(f'percentil 25: {serie_2.quantile(0.25)}')
print(f'percentil 50: {serie_2.median()}')
print(f'percentil 75: {serie_2.quantile(0.75)}')
print(f'percentil 90: {serie_2.quantile(0.9)}')
print(f'valor m√°ximo: {serie_2.max()}')

valor m√≠nimo: 1
percentil 10: 3.0
percentil 25: 6.0
percentil 50: 7.0
percentil 75: 8.0
percentil 90: 9.200000000000003
valor m√°ximo: 10

In [55]:
print(f'valor m√≠nimo: {serie_3.min()}')
print(f'percentil 10: {serie_3.quantile(0.1)}')
print(f'percentil 25: {serie_3.quantile(0.25)}')
print(f'percentil 50: {serie_3.median()}')
print(f'percentil 75: {serie_3.quantile(0.75)}')
print(f'percentil 90: {serie_3.quantile(0.9)}')
print(f'valor m√°ximo: {serie_3.max()}')

valor m√≠nimo: 1
percentil 10: 4.0
percentil 25: 5.0
percentil 50: 5.0
percentil 75: 6.0
percentil 90: 7.0
valor m√°ximo: 10

In [56]:
print(f'valor m√≠nimo: {serie_4.min()}')
print(f'percentil 10: {serie_4.quantile(0.1)}')
print(f'percentil 25: {serie_4.quantile(0.25)}')
print(f'percentil 50: {serie_4.median()}')
print(f'percentil 75: {serie_4.quantile(0.75)}')
print(f'percentil 90: {serie_4.quantile(0.9)}')
print(f'valor m√°ximo: {serie_4.max()}')

valor m√≠nimo: 1
percentil 10: 2.0
percentil 25: 2.5
percentil 50: 3.0
percentil 75: 5.0
percentil 90: 8.0
valor m√°ximo: 10